.main_cart_section {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}
.user_icon {
  font-size: 40px;
  color: #052659;
}
.name_post_owner {
  font-size: 20px;
  font-weight: bold;
}
.gmil_post_owner {
  color: #052659;
  text-transform: none;
  font-size: 13px;
  font-weight: bold;
}
.title_post {
  margin: 0 0 8px 0;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 23px;
}
.descriptin_post {
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.img_post_photo {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.card_details_card {
  width: 500px;
  padding: 20px;
  margin: 25px 0;
  height: auto;
  border: 2px solid #052659;
  border-bottom: 6px solid #052659;
  border-radius: 4px 4px 15px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adjust the shadow values as needed */
}
.card_box_post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  margin: 15px;
  gap: 30px;
}

.postbtn {
  background-color: #052659;
  font-size: 25px;
  border: 2px solid white;
  margin: 20px 0;
  color: white;
  padding: 10px 40px;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  margin-left: auto;

  justify-content: end;
}
.postbtn:hover {
  background-color: #05265900;
}
.btn_main {
  padding: 0 12%;
}
.topic_post{
    text-align: center;
    margin-top: 25px;
    font-size: 45px;
    text-transform: uppercase;
}
.mrg{
  margin: 8px 0;
}
.btnbtn {
  border-radius: 6px;
  padding: 4px 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #052659;
  font-size: 20px;
  background-color: #052659;
  margin-right: 25px;
}

.btnbtn:hover {
  background-color: white;
  color: #052659;
}
/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #052659; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #052659; /* Color of the scrollbar handle on hover */
}
.table_details_admin {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.table_details_admin .admin_tbl_th,
.table_details_admin .admin_tbl_td {
  border: 2px solid #052659;
  padding: 8px;
}

.table_details_admin .admin_tbl_th {
  background-color: #052659;
  color: white;
  font-size: 18px;
}
.table_main {
  padding: 10px 10%;
}
.btnbtn {
  border-radius: 6px;
  padding: 4px 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #052659;
  font-size: 20px;
  background-color: #052659;
  margin-right: 25px;
}

.btnbtn:hover {
  background-color: white;
  color: #052659;
}
.btnbtndlt {
  border-radius: 6px;
  padding: 4px 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #c20202;
  font-size: 20px;
  background-color: #c20202;
}

.btnbtndlt:hover {
  background-color: white;
  color: #c20202;
}
